

.navbar,
.cards,
.card-category,
.work {
  background-color: rgb(255, 187, 0) !important;
}
.work {
}
.logo {
  font-size: 10px;
}
img {
  width: 50px;
}
.nav-item a {
  font-size: 15px;
}
.btn {
  background-color: red !important;
}
.border-bottom {
  border-bottom: 1px solid gray !important;
}
.first-part {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.first-part::before {
  content: "";
  background-image: url("Brainster_5.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.75;
}
.cell{
    border-radius: 1em;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 100%;
    box-shadow: 4px 4px 8px #000000;

}
.card-text
{
    height: 100%;
}
.row-cards
{
    padding-bottom: 150px;
}
#marketing-filter,
#programming-filter,
#design-filter
{
    cursor: pointer;
}
input:placeholder-shown {
    font-style: italic;
 }

select,
.button-submit {
     height: 50px !important;
 }
option{
    height: 100px !important;
}
.student-hire:hover
{
    text-decoration: none;
}
.page-container {
    height: 100vh;
    background-color: rgb(255, 187, 0) !important;
  }
  
  #footer {
    position: absolute;
    bottom: 0;
    width: 100%;
  } 
  .work h1 {
      padding: 80px 0;
  }
.cell:hover {
    transform: scale(1.05);
  }

  @media (max-width: 425px) {
    #navbarNavDropdown
    {
        height: 100vh;
    }
    .first-part::before
    {
        background-image: none;
        background-color: rgb(255, 187, 0) !important;
    }
    .first-part {
        height: auto;
    }
    .title {
        font-size: 60px !important;
        margin: 50px auto;
        color: #343a40;
    }
    body { padding-top: 78.713px; }
    
    .collapsing {
        transition: none;
        display: none;
    }
    #footer {
        position: fixed;
        bottom: 0;
    }
    .btn-send{
        margin-bottom: 100px ;
    }
    
}
